<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply Sent</title>
</head>
<body>
    <div class="inbox-container">
        <h1>Reply Sent Successfully!</h1>
        <p><strong>Subject:</strong><br> {{ subject }}</p>
        <p><strong>Your Message:</strong><br> {{ message.replace('\n', '<br>') | safe }}</p>
        <p><strong>To:</strong><br> {{ name }} ({{ email }})</p>
        <p><strong>Original Message:</strong><br> {{ original_message.replace('\n', '<br>') | safe }}</p>
        <p><strong>Submission Date:</strong><br> {{ date.replace('\n', '<br>') | safe }}</p>
        <button onclick="gohome()">Go Home</button>

    </div>

    <script>
        function gohome() {
            console.log("inbox");
            const url = `inbox`;
            window.location.href = url;
        }
    </script>
</body>
</html>
