<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply Sent</title>
</head>
<body>
    <div class="inbox-container">
        <h1>Reply Sent Successfully!</h1>
        <p><strong>Subject:</strong> {{ subject }}</p>
        <p><strong>Your Message:</strong> {{ message }}</p>
        <p><strong>To:</strong> {{ name }} ({{ email }})</p>
        <p><strong>Original Message:</strong> {{ original_message }}</p>
        <p><strong>Submission Date:</strong> {{ date }}</p>
        <button onclick="gohome()">gohome</button>
    </div>

    <script>
        function gohome() {
            console.log("inbox");
            const url = `inbox`;
            window.location.href = url;
        }
    </script>
</body>
</html>
